html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#bm {
  width: 100%;
  height: 100%;
}

#bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000000;
}

#txtBox {
  position: absolute;
  left: 50%;
  top: 49.42%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #e893f3;
  text-shadow:
    -1px -1px 0 #0F0F0F,
    1px -1px 0 #0F0F0F,
    -1px 1px 0 #0F0F0F,
    1px 1px 0 #0F0F0F;
    font-size: 25px;
}